/* * { border: 1px solid red; } */

/* #container {
    display: flex;
    flex-flow: column;
    width: 400px;
    margin: auto;
    align-items: center;
    justify-content: center;
} I tried using flexbox first but decided against it */ 

div {
    text-align: center;
    font-size: small;
}

#logo {
    width: 200px;
    margin: auto;
    margin-top: 20px;
    display: block;
}

#signin {
    text-align: left;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    border: solid 0.5px lightslategray;
    border-radius: 2px;
    font-family: sans-serif;
    padding: 0px 15px;
    /* padding-left: 10px; */
    /* padding-bottom: 20px; */
}

input {
    margin-top: 8px;
}

.button {
    height: 25px;
    margin: auto;
    width: 390px;
    padding: 0px;
    border: 0.5px solid;
    border-radius: 2px;

}

ul {
    list-style-type: none;
    margin: auto;
    width: 400px;
    padding-right: 20px;
}

li{
    float: center;
    display: inline;
    padding: 10px;
    font-size: small;
}

a {
    text-decoration: none;
}
